{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h4 class="text-left">MESSAGE:</h4><i>{{query}}</i>
{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col" class="text-center">Classified as</th>
            <th scope="col" class="text-center">Not classified as</th>
        </tr>
    </thead>
    <tbody>
      <tr>
            <td class="col-xs-6">
                {% for category, classification in classification_result.items() %}
                    {% if classification == 1 %}
                        <li class="list-group-item list-group-item-success text-center">{{category.replace('_', ' ').title()}}</li>
                    {% endif %}
                {% endfor %}
            </td>
            <td class="col-xs-6">
                {% for category, classification in classification_result.items() %}
                    {% if classification == 0 %}
                        <li class="list-group-item list-group-item-dark text-center">{{category.replace('_', ' ').title()}}</li>
                    {% endif %}
                {% endfor %}
            </td>
      </tr>
    </tbody>
</table>

{% endblock %}
